body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif, "微软雅黑";
	font-weight: 300;
}

header{
	margin-top: 30px;
    display: block;
}

p {
	line-height: 1.6;
}

.name {
	font-size: 4vw;
}

h2,.h2 {
	font-size: 25px;
	border-bottom: 5px solid #c7c7c7;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	color: rgb(70, 140, 212);
}

.photo{
	
}

.info {
	padding: 10px;
	white-space: pre-line;
	border-radius: 10px;
	border-style: solid;
	background-color: rgb(248,248,248);
	border-color: rgb(204,204,204);
}

section {
	margin-bottom: 3%;
	text-align:justify;
	width: 100%;
	clear: left; 
}

.listhead{
	font-size: 18px;
}

.time{
	font-size: 18px;
}



.row {
	display: inline-block;
	width: 100%;
}

footer {
	margin-top: 4vw;
}

footer p {
	font-size: 15px;
	line-height: 1;
	margin: 5px;
}
